{% extends 'base.html' %}

{% block title %}Bot{% endblock %}

{% block href %}"{{ url_for('static',filename='css/main.css') }}"{% endblock %}

{% block body %}

    <!--<form action="/my-link/">
    <input type="submit" value="Click me" />
    </form> -->
    <div class="box">
        <py-script>
            import random
            print(random.randint(1,6))
            print(random.randint(1,6))
        </py-script>
    </div>
    <a class = "button" href="/my-link/">Click me</a>
{% endblock %}
